body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 40px;
    background: #f7e9dc;
    color: #333;
}

h1 {
    color: #b10202;
}

button {
    padding: 12px 22px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #d62828;
    color: white;
    cursor: pointer;
}

#resultado {
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    color: #064663;
}
